{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>
    <ul>
        {% for listing in listings %}

                <div class="card" style="width: 18rem;">
                    <img src="{{ listing.image_url }}" class="card-img-top" alt="{{ listing.title }}">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'auctions:listing' listing.id %}">{{ listing.title }}</a></h5>
                      <p class="card-text">{{ listing.description }}</p>
                      <p>Starting price ${{ listing.starting_bid }}</p>
                    </div>
                </div>


            </li>
        {% endfor %}
    </ul>
{% endblock %}